.profileWrapper{
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    width: 15%;
    margin: 1%;
}
.name{
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.1ch;
}
.profileWrapper > img{
    width: 40%;
}